@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--cor-fundo-nav);
  color: white;
  padding: 15px 30px;
}