*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  --cor-primaria: #80EF80;
  --cor-texto: #e0e0e0;
  --cor-texto-suave: #999;
  --cor-fundo: #2E6F40;
  --cor-fundo-nav: #568203;
  --cor-footer: #06402B
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}